<a href="https://colab.research.google.com/github/narendra7959/R-Practicals/blob/main/Assignment_10.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**readr, purr, tibble**

In [1]:
# Name : Narendra
# Rsg No : 24040208002

In [2]:
# install necessary libraries
install.packages('readr')
install.packages('purrr')
install.packages('tibble')
install.packages('dplyr')

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

In [8]:
# Load necessary libraries
library(readr)
library(purrr)
library(tibble)
library(dplyr)

Attaching package: ‘dplyr’


The following objects are masked from ‘package:stats’:

    filter, lag


The following objects are masked from ‘package:base’:

    intersect, setdiff, setequal, union

In [15]:
# Create a dataset containing student names and their scores in different subjects
students <- tibble(
  name = c("Alice", "Bob", "Charlie", "David", "Sophia"),  # List of student names
  math_score = c(85, 60, 78, 50, 88),  # Math scores for each student
  science_score = c(90, 65, 80, 55, 92),  # Science scores for each student
  english_score = c(82, 70, 85, 48, 89)  # English scores for each student
)

# Export the student data as a CSV file for analysis
write_csv(students, "/content/student_scores.csv")

In [16]:
# Step 1: Read the data from the CSV file into a tibble
students_data <- read_csv("/content/student_scores.csv") %>%
  as_tibble()

# Print the data to see the structure
print(students_data)

# Step 2: Calculate total scores for each student
students_data <- students_data %>%
  mutate(
    total_score = math_score + science_score + english_score
  )

# Step 3: Apply a function to determine if the student passed (Total score > 240)
# Let's assume a passing score is 240 for simplicity.
students_data <- students_data %>%
  mutate(
    pass_status = map_chr(total_score, ~ ifelse(.x > 240, "Pass", "Fail"))
  )

# Step 4: View the final tibble
print(students_data)

Rows: 5 Columns: 4
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr (1): name
dbl (3): math_score, science_score, english_score

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

# A tibble: 5 × 4
  name    math_score science_score english_score
  <chr>        <dbl>         <dbl>         <dbl>
1 Alice           85            90            82
2 Bob             60            65            70
3 Charlie         78            80            85
4 David           50            55            48
5 Sophia          88            92            89
# A tibble: 5 × 6
  name    math_score science_score english_score total_score pass_status
  <chr>        <dbl>         <dbl>         <dbl>       <dbl> <chr>
1 Alice           85            90            82         257 Pass
2 Bob             60            65            70         195 Fail
3 Charlie         78            80            85         243 Pass
4 David           50            55            48         153 Fail
5 Sophia          88            92            89         269 Pass